<nz-table #nzTable [nzData]="dataSet" [nzTotal]="total" [nzPageIndex]="pageindex" [nzPageSize]="pagesize" [nzSize]="small"
  [nzShowSizeChanger]="true" [nzFrontPagination]='false' (nzPageIndexChange)="getpage($event,pagesize)" (nzPageSizeChange)="getpage(pageindex,$event)">
  <thead>
    <tr>
      <th nzWidth=" 150px ">Name</th>
      <th nzWidth="150px ">Area</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data ">
      <td>{{data.Name}}</td>
      <td>{{data.Area}}</td>
      <td>{{data.Position}}</td>
    </tr>
  </tbody>
</nz-table>
