<nz-table #nzTable [nzData]="dataSet" [nzTotal]="total" [nzPageIndex]="pageindex" [nzPageSize]="pagesize" [nzSize]="small"
  [nzShowSizeChanger]="true" [nzFrontPagination]='false' (nzPageIndexChange)="getpage($event,pagesize)"
  (nzPageSizeChange)="getpage(pageindex,$event)" [nzLoading]='loading'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
      <th>Position</th>
      <th nzWidth="100px" nzRight="0px" class="text-center actions">
        <nz-dropdown [nzPlacement]="'bottomRight'">
          <a nz-dropdown>
            <strong><i class="anticon anticon-ellipsis"></i></strong>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a (click)="modal(createContent,null,'新建')"><i class="anticon anticon-addfile"></i>新建...</a>
            </li>
            <li nz-menu-item>
              <a><i class="anticon anticon-profile"></i>选择列...</a>
            </li>
          </ul>
        </nz-dropdown>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data;let i=index; ">
      <td>{{data.Name}}</td>
      <td>{{data.Area}}</td>
      <td>{{data.Position}}</td>
      <td nzWidth="100px" nzRight="0px" class="text-center actions">
        <nz-dropdown [nzPlacement]="'bottomRight'">
          <a nz-dropdown>
            <strong><i class="anticon anticon-ellipsis"></i></strong>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a><i class="anticon anticon-profile"></i>详情...</a>
            </li>
            <li nz-menu-item>
              <a><i class="anticon anticon-delete"></i>删除</a>
            </li>
            <li nz-menu-item>
              <a (click)="updateItem=data; modal(createContent,data,'编辑',i)"><i class="anticon anticon-edit"></i>编辑...</a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item nzDisabled>3rd menu item</li>
          </ul>
        </nz-dropdown>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #createContent>
  <sf #sf mode="edit" [schema]="schema" button="none" autocomplete="off" [formData]='updateItem'>
  </sf>
</ng-template>
