.actions{
    .anticon{
        font-size: 22px;  
        width: 22px;
        height: 22px;        
    }
   
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    min-width: 120px;
    height: 32px; 
  
    .anticon{
        margin-right: 10px;
        font-size: 15px; 
    }
 }