<p>
  exception404 works!
</p>
<nz-range-picker [nzFormat]="dateFormat" [ngModel]="selectDate" (ngModelChange)="choose($event)"></nz-range-picker>
<br>
{{loading.value}}
<button (click)="open();" nz-button [nzLoading]="loading.value">Show</button>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }" [nzMaskClosable]="false"
  [nzWidth]="720" [nzVisible]="visible" nzTitle="Create" (nzOnClose)="close()">
  <app-schema-form [schema]="schema"></app-schema-form>
</nz-drawer>
