<p>
  exception404 works!
</p>
<nz-range-picker (ngModelChange)="choose($event)"></nz-range-picker>
<br>

<button (click)="open();" nz-button>Show</button>

<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }" [nzMaskClosable]="false"
  [nzWidth]="720" [nzVisible]="visible" nzTitle="Create" (nzOnClose)="close()">
  <app-schema-form [schema]="schema"></app-schema-form>
</nz-drawer>
<!-- <app-autocomplete  [(ngModel)]="selectedUser" schemaType="employees" search="Name,PhoneNumber" labelProp="Name" placeHolder="搜索用户名,联系电话"></app-autocomplete> -->


<app-schema-table schemaType="product">
  <app-table-action name="test" icon="anticon-delete">

  </app-table-action>
</app-schema-table>
