<nz-layout>
  <nz-header class="fixed-head">
    <div class="logo" [class.collapsed]="isCollapsed">
      <i class="anticon anticon-appstore"></i>
    </div>
    <button nz-button nzType="primary" [nzSize]="size" nzShape="circle" (click)="isCollapsed=!isCollapsed">
      <i class="anticon" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed"></i>
    </button>
    <div class="push-right options">
      <nz-avatar nzText="USER"></nz-avatar>
      <nz-dropdown [nzPlacement]="'bottomRight'">
        <a nz-dropdown>
          admin
          <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a>
              <i class="anticon anticon-setting"></i> 设置</a>
          </li>
          <li nz-menu-divider></li>
          <li nz-menu-item>
            <a (click)="logout();">
              <i class="anticon anticon-logout"></i> 退出登录</a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </nz-header>

  <nz-layout [style.margin-left]="!isCollapsed?'200px':'80px'" class="center">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" class="fixed-sider">

      <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item routerLink="/wms" routerLinkActive="active" [nzSelected]="selected('/wms')">
          <span>
            <i class="anticon anticon-dashboard"></i>
            <span class="nav-text">
              Dashboard
            </span>
          </span>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-user"></i>
            <span class="nav-text">User</span>
          </span>
          <ul>
            <li nz-menu-item>
              <a routerLink="/404" routerLinkActive="active">404</a>
            </li>
            <li nz-menu-item routerLink="/wms/part" routerLinkActive="active" [nzSelected]="selected('/wms/part')">
              <span class=" nav-text ">Part</span>
            </li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <span>
            <i class="anticon anticon-file "></i>
            <span class="nav-text ">File</span>
          </span>
        </li>
      </ul>
    </nz-sider>
    <nz-content style="margin:0 16px; ">
      <nz-tabset [nzSelectedIndex]="tabSelectIndex ">
        <nz-tab *ngFor="let tab of tabs " [nzTitle]="tab.title " (nzClick)=navigate(tab.url)>
        </nz-tab>
      </nz-tabset>
      <div style="padding:24px; background: #fff; min-height: 500px; ">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
  <nz-footer style="text-align: center; ">Ant Design ©2017 Implement By Angular</nz-footer>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up "></i>
</ng-template>
