<nz-layout [style.margin-left]="!isCollapsed?'200px':'80px'">

  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate" class="fixed-sider">
    <div class="anticons">
      <i class="anticon" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
    </div>
    <ng-scrollbar>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item routerLink="/wms" routerLinkActive="active" [nzSelected]="selected('/wms')">
          <span>
            <i class="anticon anticon-dashboard"></i>
            <span class="nav-text">
              Dashboard
            </span>
          </span>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-user"></i>
            <span class="nav-text">User</span>
          </span>
          <ul>
            <li nz-menu-item>
              <a routerLink="/404" routerLinkActive="active">404</a>
            </li>
            <li nz-menu-item routerLink="/wms/part" routerLinkActive="active" [nzSelected]="selected('/wms/part')">
              <span class=" nav-text ">Part</span>
            </li>
            <li nz-menu-item routerLink="/wms/orders" routerLinkActive="active" [nzSelected]="selected('/wms/orders')">
              <span class=" nav-text ">Orders</span>
            </li>
            <li nz-menu-item>Alex</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Identity</span>
          </span>
          <ul>
            <li nz-menu-item routerLink="/identity/users" routerLinkActive="active" [nzSelected]="selected('/identity/users')">Users</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-team "></i>
            <span class="nav-text ">Team</span>
          </span>
          <ul>
            <li nz-menu-item>Team 1</li>
            <li nz-menu-item>Team 2</li>
          </ul>
        </li>
        <li nz-menu-item>
          <span>
            <i class="anticon anticon-file "></i>
            <span class="nav-text ">File</span>
          </span>
        </li>
      </ul>
    </ng-scrollbar>
  </nz-sider>

  <nz-layout>
    <nz-header class="fixed-head">
      <div nz-row>
        <div nz-col nzSpan="18">
          <div class="logo">
          </div>
          <div class="push-left">
            <nz-tabset [nzSelectedIndex]="tabSelectIndex " [nzTabBarGutter]="5" nzSize="large" [nzType]="'card'" class="tabs">
              <nz-tab *ngFor="let tab of tabs;let i=index; " [nzTitle]="titleTemplate" (nzClick)=navigate(tab.url)>
                <ng-template #titleTemplate>
                  <div>{{ tab.title }}
                    <i class="anticon anticon-close" (click)="closeTab(i,tab)"></i>
                  </div>
                </ng-template>
              </nz-tab>
            </nz-tabset>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div class="push-right options">
            <nz-avatar nzText="USER"></nz-avatar>
            <nz-dropdown [nzPlacement]="'bottomRight'">
              <a nz-dropdown>
                admin
                <i class="anticon anticon-down"></i>
              </a>
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <a>
                    <i class="anticon anticon-setting"></i> 设置</a>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>
                  <a (click)="logout();">
                    <i class="anticon anticon-logout"></i> 退出登录</a>
                </li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
      </div>


    </nz-header>
    <nz-content style="margin:0 10px; height: 100%; ">

      <div class="content">

        <router-outlet></router-outlet>

      </div>

    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2017 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

<ng-template #trigger>
  <i class="anticon anticon-up "></i>
</ng-template>
