<form nz-form [formGroup]="validateForm" (ngSubmit)="submit($event)" nz-row [nzGutter]='8' autocomplete="off">
  <div *ngFor="let item of schema;" nz-col [nzSpan]="cols">
    <nz-form-item>
      <nz-form-label [nzSpan]="layout=='horizontal'?8:null" [nzRequired]="item.required" nzFor="note">{{item.title}}</nz-form-label>
      <nz-form-control [nzSpan]="layout=='horizontal'?16:null">
        <ng-container *ngIf="item.type=='string' ">
          <ng-container *ngIf="item.format=='date-time' ">
            <nz-date-picker [formControlName]="item.name" nzShowTime></nz-date-picker>
          </ng-container>
          <ng-container *ngIf="item.format==null ">
            <input type="text" nz-input [formControlName]="item.name">
          </ng-container>
          <ng-container *ngIf="item.format=='enum' ">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [formControlName]="item.name">
              <nz-option *ngFor="let n of item.enum;" [nzLabel]="n" [nzValue]="n"></nz-option>
            </nz-select>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="item.type=='number'">
          <nz-input-number [formControlName]="item.name" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
        </ng-container>
        <nz-form-explain *ngIf="validateForm.get(item.name).dirty && validateForm.get(item.name).errors">
          Please input your username!
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
</form>
