<form nz-form [nzLayout]="layout" [formGroup]="validateForm" (ngSubmit)="submit($event)" 
  autocomplete="off">
  <div nz-row [nzGutter]='8'>
    <div *ngFor="let item of schema.text;" nz-col [nzSpan]="cols">
      <nz-form-item>
        <nz-form-label [nzSpan]="layout=='horizontal'?8:null" [nzRequired]="item.required">
          <span>
            {{item.title}}
            <nz-tooltip [nzTitle]="item.description" *ngIf="item.description">
              <i nz-tooltip class="anticon anticon-question-circle-o"></i>
            </nz-tooltip>
          </span>
        </nz-form-label>
        <nz-form-control [nzSpan]="layout=='horizontal'?16:null">
  
          <ng-container *ngIf="item.type=='datetime' ">
            <nz-date-picker [formControlName]="item.name" nzShowTime></nz-date-picker>
          </ng-container>
          <ng-container *ngIf="item.type=='string' ">
            <input type="text" nz-input [formControlName]="item.name">
          </ng-container>
          <ng-container *ngIf="item.type=='enum' ">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [formControlName]="item.name">
              <nz-option *ngFor="let n of item.enum;" [nzLabel]="n" [nzValue]="n"></nz-option>
            </nz-select>
          </ng-container>
          <ng-container *ngIf="item.type=='upload' ">
            <nz-upload [nzAction]="item.upload.action">
              <button nz-button>
                <i class="anticon anticon-upload"></i><span>{{item.upload.text}}</span>
              </button>
            </nz-upload>
          </ng-container>
  
          <ng-container *ngIf="item.type=='number'">
            <nz-input-number [formControlName]="item.name" [nzMin]="item.minimum" [nzMax]="item.maximum" [nzStep]="1"></nz-input-number>
          </ng-container>
  
          <nz-form-explain *ngIf="validateForm.get(item.name)?.dirty && validateForm.get(item.name)?.errors">
            <span *ngIf="validateForm.get(item.name).errors['required']">必填项</span>
            <span *ngIf="validateForm.get(item.name).errors['pattern']">格式不正确</span>
            <span *ngIf="validateForm.get(item.name).errors['maxlength']">{{"长度不能超过"+item.maxLength+"个字符"}}</span>
            <span *ngIf="validateForm.get(item.name).errors['minlength']">{{"长度不能小于"+item.minLength+"个字符"}}</span>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <nz-divider></nz-divider>
  <div *ngFor="let item of schema.upload;" nz-col>
    <nz-form-item>
      <nz-form-label [nzSpan]="layout=='horizontal'?8:null" [nzRequired]="item.required">
        <span>
          {{item.title}}
          <nz-tooltip [nzTitle]="item.description" *ngIf="item.description">
            <i nz-tooltip class="anticon anticon-question-circle-o"></i>
          </nz-tooltip>
        </span>
      </nz-form-label>
      <nz-form-control [nzSpan]="layout=='horizontal'?16:null">
        <ng-container *ngIf="item.type=='upload' ">
          <nz-upload [nzAction]="item.upload.action"  [nzFileType]="item.upload.fileType" (nzChange)=fileUpload($event,item) >
            <button nz-button type="button">
              <i class="anticon anticon-upload"></i><span>{{item.upload.text}}</span>
            </button>
          </nz-upload>
        </ng-container>
        <nz-form-explain *ngIf="validateForm.get(item.name)?.dirty && validateForm.get(item.name)?.errors">
          <span *ngIf="validateForm.get(item.name).errors['required']">请上传文件</span>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <ng-content>
  </ng-content>
</form>
