<div class="table_actions">
  <button nz-button nzType="primary" *ngFor="let x of tableActions" (click)="x.open(nzTable.data);"><i class="anticon {{x.icon}}"></i>{{x.name}}...</button>
  <nz-badge [nzCount]="filterCount" class="filter-count" *ngIf="showSearch">
    <button nz-button nz-popover nzType="primary" nzTitle="查询" [(nzVisible)]="visible" nzTrigger="click" [nzContent]="filterTemplate"
      nzPlacement="bottomRight"><i class="anticon anticon-filter"></i>查询...
    </button>
  </nz-badge>
  <button *ngIf="showCreate" nz-button nzType="primary" (click)="asp.reset(); updateItem={};visibleDrawer=true;"><i
      class="anticon anticon-addfile"></i>新建...</button>
</div>
<ng-template #filterTemplate>
  <div *ngFor="let col of schema.properties" class="filter-item">
    <ng-container *ngIf="col.columnSetting && col.columnSetting.searchable!==false">
      <ng-container *ngIf="col.type=='Number'">
        <nz-input-group nzCompact style="min-width:100px;">
          <input type="text" nz-input placeholder=" {{col.title}} Min" style="width:45%; text-align: center;"
            [(ngModel)]="filterObj[col.name+'_min']">
          <input type="text" disabled nz-input placeholder="~" style="width:10%; border-left: 0px; pointer-events: none; background-color: rgb(255, 255, 255); padding:4px 0; text-align: center">
          <input type="text" nz-input placeholder="{{col.title}} Max" style="width:45%; text-align: center; border-left: 0px;"
            [(ngModel)]="filterObj[col.name+'_max']">
        </nz-input-group>
      </ng-container>
      <ng-container *ngIf="col.type=='Select'">
        <nz-select style='width: 100%' [(ngModel)]="filterObj[col.name]" nzAllowClear nzPlaceHolder="{{col.title}}"
          (ngModelChange)="getpage()">
          <nz-option *ngFor="let op of col.options" [nzValue]="op" [nzLabel]="op"></nz-option>
        </nz-select>
      </ng-container>
      <ng-container *ngIf="col.type=='Switch'">
        <nz-select style='width: 100%' nzAllowClear nzPlaceHolder="{{col.title}}" [(ngModel)]="filterObj[col.name]"
          (ngModelChange)="getpage()">
          <nz-option *ngFor="let op of [{v:true,name:'是'},{v:false,name:'否'}]" [nzValue]="op.v" [nzLabel]="op.name"></nz-option>
        </nz-select>
      </ng-container>
      <ng-container *ngIf="col.type=='DateTime'">
        <nz-range-picker [nzPlaceHolder]="[ col.title+' Start', col.title+' End' ]" [(ngModel)]="filterObj[col.name]"
          (ngModelChange)="getpage()" ngModel [nzFormat]="dateFormat" style='width: 100%'></nz-range-picker>
      </ng-container>
      <ng-container *ngIf="col.type=='Text'">
        <nz-input-group nzSuffixIcon="anticon anticon-search" nzAllowClear>
          <input nz-input id=" name" [(ngModel)]="filterObj[col.name]" autocomplete="off" placeholder="{{col.title}}">
        </nz-input-group>
      </ng-container>
      <ng-container *ngIf="col.type=='Autocomplete'">
        <app-autocomplete [schemaType]="col.dataType" [search]="col.search" [label]="col.label" [(ngModel)]="filterObj[col.name]"
          (ngModelChange)="getpage()" [placeHolder]="col.title+' - '+col.placeHolder"></app-autocomplete>
      </ng-container>
    </ng-container>

  </div>
  <div class="filter-btn-warp">
    <nz-button-group>
      <button nz-button nzType="primary" (click)="clearFilter();"><i class="anticon anticon-left"></i>取消</button>
      <button nz-button nzType="primary" (click)="getpage();">搜索<i class="anticon anticon-right"></i></button>
    </nz-button-group>
  </div>
</ng-template>
<nz-table #nzTable [nzData]="dataSet" [nzTotal]="page.total" [nzPageIndex]="page.pageIndex" [nzPageSize]="page.pageSize"
  nzSize="middle" [nzShowSizeChanger]="true" [nzFrontPagination]='false' (nzPageIndexChange)="page.pageIndex=$event; getpage()"
  (nzPageSizeChange)="page.pageSize=$event;getpage()" [nzLoading]="loading">
  <thead>
    <tr class="thead">
      <th nzWidth="30px" nzLeft="0px" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"></th>
      <ng-container *ngFor="let col of schema.properties">
        <th *ngIf="col.columnSetting" nzWidth="100px" [nzShowSort]="col.columnSetting.sortable!==false" [(nzSort)]="sortMap[col.name]"
          (nzSortChange)="sort(col.name,$event)">{{col.title}}</th>
      </ng-container>
      <th nzWidth="40px" class="text-right actions">
        <i class="anticon anticon-bars"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data;let i=index; " class="data-row">
      <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus($event)"></td>
      <ng-container *ngFor="let col of schema.properties">
        <td *ngIf="col.columnSetting">
          <ng-container *ngIf="col.type=='Upload'">
            <a [href]="transformUrl(data[col.name])" *ngIf="data[col.name]" nz-button nzShape="circle"><i class="anticon anticon-download"></i></a>
          </ng-container>
          <ng-container *ngIf="col.type=='Switch'">
            <i class="switch-icon anticon {{data[col.name]?'anticon-check-circle red':'anticon-close-circle'}}"></i>
          </ng-container>
          <ng-container *ngIf="col.type=='Text' || col.type=='Number' || col.type=='Select'">
            {{data[col.name]}}
          </ng-container>
          <ng-container *ngIf="col.type=='DateTime'">
            {{data[col.name]|date:'yyyy-MM-dd HH:mm'}}
          </ng-container>
          <ng-container *ngIf="col.type=='Autocomplete' && col.columnSetting.displayExpression && data[col.columnSetting.displayExpression.split('.')[0]]">
            {{data[col.columnSetting.displayExpression.split(".")[0]][col.columnSetting.displayExpression.split(".")[1]]}}
          </ng-container>
        </td>
      </ng-container>

      <td nzWidth="80px" nzRight="0px" class="text-right actions">
        <nz-dropdown [nzPlacement]="'bottomRight'">
          <a nz-dropdown>
            <strong><i class="anticon anticon-ellipsis"></i></strong>
          </a>
          <ul nz-menu>
            <li nz-menu-item>
              <a nz-popconfirm nzTitle="确定要删除?" nzPlacement="left" (nzOnConfirm)="delete(data,i)"><i class="anticon anticon-delete"></i>删除</a>
            </li>
            <li nz-menu-item>
              <a (click)=" updateItem=data; visibleDrawer=true;"><i class="anticon anticon-edit"></i>编辑...</a>
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item *ngFor="let x of rowActions">
              <a (click)="x.open(data);"><i class="anticon {{x.icon}}"></i>{{x.name}}...</a>
            </li>
          </ul>
        </nz-dropdown>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-drawer [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visibleDrawer" nzTitle="Create" (nzOnClose)="visibleDrawer=false;">
  <app-schema-form [formData]='updateItem' [schema]="schema" (formSumbit)="save($event)" #asp>
    <div class="footer">
      <button nz-button type="button" (click)="visibleDrawer=false;">取 消</button>
      <button nz-button type="submit" [nzType]="'primary'" [nzLoading]="httpLoading.value">确 定</button>
    </div>
  </app-schema-form>

</nz-drawer>
