.login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
    font-size: 12px;
  }

  .login-form-button {
    width: 100%;
    font-size: 15px;
  }
.container{
    background-image: url(../../../../assets/logo_bg.svg);
    height:100%;

}