/* You can add global styles to this file, and also import other style files */

.ant-btn+.ant-btn {
    margin-left: 20px;
}

.ant-layout-footer {
    padding: 15px 50px;
}

.hidden {
    display: none !important;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.ant-form-vertical {
    .ant-form-item {
        padding-bottom: 0;
    }
    .ant-calendar-picker,
    nz-input-number {
        width: 100%;
    }
    nz-form-explain {
        min-height: 21px;
    }
}

.color-bule {
    color: #1890ff;
    &:hover {
        opacity: .8;
    }
}

.color-black {
    color: #001529;
    &:hover {
        opacity: .8;
    }
}